:root {
    --card-size: 10vw;
    /* Default card size for larger screens */
    --gap-size: 10px;
    /* Gap size between cards */
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    background-color: #031063;
    margin: 0;
    padding: 10px;
    min-height: 100vh;
    font-size: 24px;
}

#timer {
    margin-bottom: 20px;
    /* Add margin to separate timer from start button */
}

#game-container {
    max-width: 95vw;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#start-game {
    font-size: 1.2em;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 24px;
    text-align: center;
}

#start-game:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#game-board {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-size), 1fr));
    gap: var(--gap-size);
    justify-content: center;
    flex-grow: 1;
    align-content: start;
    overflow: hidden;
    /* Disable scrolling */
}

#game-board img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

#game-board img:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
     :root {
        --card-size: calc((95vw - (5 * var(--gap-size))) / 4);
        /* Adjust card size to fit 4 columns */
    }
}

@media (max-width: 480px) {
     :root {
        --card-size: calc((95vw - (4 * var(--gap-size))) / 3);
        /* Adjust card size to fit 3 columns */
    }
}


/* Improved accessibility for focus states */

#start-game:focus,
#game-board img:focus {
    outline: 2px solid #4CAF50;
    outline-offset: 2px;
}